In [12]:
import urllib
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import re
import pandas as pd

from_year = 16
from_month = 12
to_year = 16
to_month = 11

links = []

In [13]:
URL = "http://web.mta.info/developers/turnstile.html"

In [14]:
driver = webdriver.Chrome(r"C:\Users\student\Downloads\chromedriver.exe")
driver.implicitly_wait(1)
driver.get(URL)

In [15]:
soup = BeautifulSoup(driver.page_source, 'html.parser')
link_box = soup.find_all("div", attrs={"class": "span-84 last"})

In [16]:
for link in link_box[0].find_all("a"):
    year = int(link.get('href').split('_')[1][0:2])
    month = int(link.get('href').split('_')[1][2:4])
    if(year >= to_year and year <= from_year):
        if(year == from_year and month > from_month):
            continue
        if(year == to_year and month < to_month):
            continue
        data_link = "http://web.mta.info/developers/" + link.get('href')
        links += [data_link]

In [17]:
links

['http://web.mta.info/developers/data/nyct/turnstile/turnstile_161231.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_161224.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_161217.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_161210.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_161203.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_161126.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_161119.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_161112.txt',
 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_161105.txt']

In [18]:
df = pd.DataFrame()

In [19]:
for link in links:
    df = pd.concat([df,pd.read_csv(link)])

In [20]:
df.describe()

,ENTRIES,EXITS
count,1.735899e+06,1.735899e+06
mean,3.584918e+07,2.895776e+07
std,1.954387e+08,1.773495e+08
min,0.000000e+00,0.000000e+00
25%,5.618460e+05,2.914910e+05
50%,2.668881e+06,1.550028e+06
75%,6.698218e+06,4.748548e+06
max,2.114946e+09,2.087387e+09

In [21]:
df.to_csv("MTA_Turnstile_2016.csv")

In [22]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,03:00:00,REGULAR,5980509,2025806
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,07:00:00,REGULAR,5980531,2025818
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,11:00:00,REGULAR,5980613,2025912
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,15:00:00,REGULAR,5980899,2025965
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,19:00:00,REGULAR,5981382,2026001